nav {
  background: rgb(26, 2, 71);
}

.jumbotron {
  padding-top: 6rem;
  background-color: rgb(211, 204, 226);
}

#blog {
  background-color: rgb(211, 204, 226);
}

.btn {
  background-color: rgb(26, 2, 71);
}

section {
  padding-top: 5rem;
}

footer {
  background: rgb(26, 2, 71);
}
